.back-button {
  width: 100px;
  text-align: center;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  &:hover {
    background-color: #0056b3;
    color: #fff;
  }
}

